body {
    margin: 0px;
    padding: 0px;
    background: #F6F6F6;
    text-align: center;
}
header {
    height: 90px;
    background: pink;
}
.icon-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: inherit;
    width: 450px;
    margin: 0px auto;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 2em;
    margin: 0px;
    letter-spacing: 1px;
    color: #753e3e;
}
img {
    width: 70px;
}
.box-container{
    /* border:red solid 1px; */
    width: 800px;
    margin: 0px auto;
    margin-top: 2.5em;
    background: white;
    border-radius: 5px;
    padding: 1em;
}
h1,
h2,
.answer {
    /* text-align: center; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.container-options{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
h2 {
    margin: 0px;
}
.option {
    padding: 1em;
    border-radius: 7px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-option {
    padding: .2em 2em;
    margin: 1.5em;
    border-style: hidden;
    border-bottom: #ff6295 solid 2px;
    outline: none;
    background: #F6F6F6;
    
}
.input-button {
    box-shadow:inset 0px 1px 0px 0px #f6f6f6;
	background-color: #ff5181cf;
	border-radius:6px;
	border:1px solid #f71487;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    padding:9px 33px;
    margin: 1em;
	text-decoration:none;
    text-shadow:0px 0px 0px #c70067;
    outline: none;
}
.input-button:hover {
    background-color:#f3376bcf;
}
.input-button:active {
    position:relative;
	top:1px;
}